#barraVerde {
  width: 100%;
  background-color: #ddd;
}

#barraVerdeProgresso {
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
}

#barraLaranja {
  width: 100%;
  background-color: #ddd;
}

#barraLaranjaProgresso {
  width: 0%;
  height: 30px;
  background-color: orange;
  text-align: center;
  line-height: 30px;
  color: white;
}