@import url('./common.css');
header {
    display: flex;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    box-shadow: 0px 3px 5px lightgrey;
    padding: 0 3em;
    margin-bottom: 2em;
}

a {
    display: block;
    width: fit-content;
    padding: .7em 1em;
    border-bottom: .2em solid white;
    text-decoration: none;
    color: white
}

/* Novas tarefa ----------------------------------------------------------- */

.nova-tarefa {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    width: 80%;
    margin: 0 10%;
    padding: 1em;
    box-shadow: 2px 2px 10px lightgrey;
    border-radius: .2em;
    z-index: 20;
}

.nova-tarefa input[type=text] {
    border: none;
    flex: 1;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    padding: .3em;
    font-size: 1.1em;
}

.nova-tarefa input:focus {
    outline: none;
    border-bottom: 1px solid grey;
}

.nova-tarefa input::placeholder {
    color: rgb(197, 197, 197);
    text-indent: .2em;
}

.nova-tarefa button {
    height: 2em;
    width: 2em;
    background-color: transparent;
    margin-left: 2em;
    margin-right: 1em;
    opacity: .5;
}

.nova-tarefa button:hover {
    opacity: 1;
}

.nova-tarefa button img {
    height: 100%;
    width: 100%;
}


